/*Small screen*/
@media only screen and (max-width:600px ){
    .mainnav{
        bottom:0;
        width: 100dvw;
        height: 5rem;
    }
    .logo{
        display: none;
    }

    .mainnav-nav{
        flex-direction: row;
    }

    .mainnav-link{
        justify-content: center;
    }

    main{
        margin: 0;
        margin-bottom: 5rem;
    }
}


/*Large Screen*/
@media only screen and (min-width:600px ){
    .mainnav{
        top:0;
        width: 5rem;
        height: 100dvh;
    }
    .mainnav:hover{
        width: 16rem;
    }

    /*if mainnav is hovered the link text will show*/
    .mainnav:hover .mainnav-link-text{
        display: block;
    }

}