@media only screen and (max-width:600px){
    .mainnav{
        bottom:0;
        width: 100vw;
        height: 5rem;
        z-index: 10;
    }
    main{
        margin-bottom: 5rem;
        padding: 0;
    }
    .mainnav-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logo{
        display: none;
    }
    .mainnav-item:nth-child(3), .mainnav-item:nth-child(4),.mainnav-item:nth-child(5){
        border-left: 1px solid var(--m-text-secondary);    
    }
    .mainbody{
        padding: 1rem 1rem;
    }

    .mainbody{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .mainnav-item:last-child{
        margin-right: auto;
    }

    .mainbody > div{
        width: 100%;
        padding: 0.5rem;
    }

    .containertop{
        height: 5rem;
        line-height: 5rem;
    }

}

@media only screen and (min-width:600px){
    main{
        margin-left: 5rem;
        transition: all 200ms ease;
    }
    .mainnav{
        top:0;
        width: 5rem;
        height: 100dvh;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
    .mainnav:hover{
        width: 15rem;
    }
    .mainnav:hover .mainnav-link-text{
        display: block;
    }
    .mainnav:hover ~ main{
        margin-left: 15rem;
    }

    .mainnav-item:last-child{
        margin-top: auto;
    }

    .mainbody{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .mainbody > div{
        width: 33%;
        padding: 0.5rem;
    }

    .containertop{
        height: 5rem;
        line-height: 5rem;
    }
}