

.containertop{
    width: 100%;
    /* From https://css.glass */
    background: rgba(100, 92, 187, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);



    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem ;
}
.containertop span{
    font-size: 1.5rem;
}


.dropdown a i{
    margin: 0;
}
.dropdown-menu{
    background-color: var(--m-text-secondary);
    border: 1px solid var(--m-bg-main);

}
.dropdown-item{
    height: 2rem;
    max-width: 20rem;
    line-height: 2rem;
    font-size: 1rem;
}
.dropdown-item span, .dropdown-item i{
    font-size: .9rem;
}

.containerbotbtn{
    width: 100%;
    padding: 1rem 1rem;    
    display: flex;
    justify-content: end;
    align-items: center;
}
.containerbotbtn a{
    border: 1px solid red;
    padding: .5rem;
    border-radius: .5rem;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    border: 1px solid var(--m-bg-main);
}

.containerbotbtn a:hover{
    border: 1px solid var(--m-bg-main);
}